.blog_card_container{
    background-color: #efefef;
    margin-bottom: 20px;
    padding: 25px;
    border-radius: 20px;
    border: 1px solid #d0d0d0;
}

.blog_card_header {
    border-bottom: 1px solid #d0d0d0;
    padding-bottom: 10px;
}

.blog_card_body {
    margin: 20px
}

.blog_card_footer {
    display: flex;
    border-top: 1px solid #d0d0d0;
    padding-top: 10px;
    justify-content: space-between;
}