.navbar_container{
    background-color: #32755f;
    padding: 10px;
    position: fixed;
    width: 100%;
}

.navbar_container h1 {
    color: white;
}

.navbar_container a {
    text-decoration: none;
}